body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.left{
    width:25%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
   
    
} 

#logopapa{
    width: 10vw;
 }
.left-up {
    width: 25%;
}

.content-botones{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    
    padding: 8px 16px;
    gap: 20px;    
}

.search-box{
    
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px rgb(161,0,161);
    border: 1px solid rgb(161,0,161);
    background-color: #303030;

}

.search-box::placeholder {
    padding-left: 20px;
}

.search-box:focus {
    outline: none;
}

.messages {
    display: flex;
    gap: 10px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
    background-color: transparent;
    color: white;
    transition: all 0.1s ease-in-out;
}

.messages:hover{
    background-color: #303030;
}
.content-setting{
    
    display: flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
   background-color: transparent;
    color: white;
    transition: all 0.1s ease-in-out;

}


.content-setting:hover{
    background-color: #303030;
}

.left-down{
    width: 25vw;

}

.content-perfil{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
   
    padding: 8px 16px;
    gap: 20px; 

}
.perfil {
    display: flex;
    gap: 10px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
    margin-bottom: 5vh;
    background-color:transparent;
    color: white;
    transition: all 0.1s ease-in-out;

}

.perfil:hover{
    background-color: #303030;
}

.fotodeperfil {
    width: 10%;
    height: 50%;
    border-radius: 50%;
    background-color: aqua;
    object-fit: cover;
}

.wrapper-of-playlist{
    background-color: #1b1b1b;
    margin-left: 27%;
    border-radius: 1em;
    width: 70%;
    margin-top: 1.5em;
    min-height: 50vw;
    padding-bottom: 2em;
    max-width: 68vw;
}




.up-playlist{
    height: 23%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 3em 3em 2em 3em;
}

.foto-playlist{
    height: 90%;
    max-width: 25%;
    min-width: 10%;
    border-radius: 1em;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}


.info-playlist{
    height: 100%;
    flex-direction: column;
    display: flex;
  
}

.title-playlist{

    color: white;
    font-size: xx-large;

}

.caracteristic{
    color: dimgray;
    font-size: large;
}

.show-songs{
    width: 90%;
    min-height: 30vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    box-shadow: inset 0 9px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgb(80, 0, 90), rgb(161,0,161));
}

.itemdecanciones{
  
    display: flex;
    width: 100%;
    height: 12vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    justify-content: center;
    padding-bottom: 16px;
    position: relative;
    padding-top: 12px;
    gap: 24px;
}

.itemdecanciones::before{
   content: "";
   position: absolute;
   bottom: 0;
   left: 2%;
   width: 95%;
   height: 1px;
   background-color: #ddd;
}

.itemdecanciones:last-child::before{
    display: none;
}

.fotoplay{
    width: 15%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    
}

.imagenbeat{
    width: 80px;
    height: 80px;
    border-radius: 1em;
    margin: 8px 8px 0px 8px;
    object-fit: cover;

}



.pla{
    font-size: xx-large;

    color: white;
}

.detalles{
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 10px;
    
}
.infos{
    display: flex;
    gap: 1em;
}

.interactions-songs{
    background-color: #1b1b1b;
    color: white;
    border-radius: 1em;
    border: none;
    width: 10vw;
    height: 100%;
}

.namebeat{
    color: white;
}


.barradesong{
    display: flex;
    justify-content: center;
}

/* Estilo de la barra de progreso */
#progress-bar {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 25px;
    outline: none;
  }
  
 
  
  #progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(161, 0, 161);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    
    transition: all 0.1s ease; /* Asegura un movimiento fluido */
  }
  
  #progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgb(161, 0, 161);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease; /* Asegura un movimiento fluido */
  }