body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.left{
    width:25%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
   
    
} 

#logopapa{
    width: 10vw;
 }
.left-up {
    width: 25%;
}

.content-botones{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    
    padding: 8px 16px;
    gap: 20px;    
}

.search-box{
    
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px rgb(161,0,161);
    border: 1px solid rgb(161,0,161);
    background-color: #303030;

}

.search-box::placeholder {
    padding-left: 20px;
}

.search-box:focus {
    outline: none;
}

.messages {
    display: flex;
    gap: 10px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
    background-color: transparent;
    color: white;
    transition: all 0.1s ease-in-out;
}

.messages:hover{
    background-color: #303030;
}
.content-setting{
    
    display: flex;
    gap: 15px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
   background-color: transparent;
    color: white;
    transition: all 0.1s ease-in-out;

}


.content-setting:hover{
    background-color: #303030;
}

.left-down{
    width: 25vw;

}

.content-perfil{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
   
    padding: 8px 16px;
    gap: 20px; 

}
.perfil {
    display: flex;
    gap: 10px;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    width: 20vw;
    height: 5vh;
    margin-bottom: 5vh;
    background-color:transparent;
    color: white;
    transition: all 0.1s ease-in-out;

}

.perfil:hover{
    background-color: #303030;
}

.fotodeperfil {
    width: 8%;
    height: 50%;
    border-radius: 50%;
    background-color: aqua;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.wrapper-of-chat{
    margin-left: 27%;
    background-color: #1b1b1b;
    border-radius: 1em;
    width: 70%;
    margin-top: 1.5em;
    min-height:fit-content;
    padding-bottom: 2em;
    max-width: 68vw;
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: x-large;
}

.clase{
    color:white;

}

.direct{
    color: white;
}

.trans{
    color: dimgray;
}

.slash{
    color: rgb(161,0,161);
    font-size: larger;
}

.search-containermesa{
    display: flex;
    justify-content: center;
    align-items: center;
    
height: 1vh;
background: linear-gradient(45deg, rgb(80,0,90), rgb(161,0,161));
border-radius: 1em;
padding: 16px 8px;
color: white;
}

.search-barmesa input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
background: transparent;


}

.wrapper{
    display: flex;
    width: 95%;
    height: 12vh;
    align-items: center;
    position: relative;
    gap: 0.5em;
    justify-content: space-between;
}

.trans ,.direct{
    cursor: pointer;
}
.new{
    display: flex;
    justify-content: center;
    margin-left: 1em;
    padding: 12px;
    border-radius: 1em;
    border: none;
    height: 6vh;
    width: 12vw;
    gap: 5px;
    align-items: center;
    font: inherit;
    color: white;
    background: linear-gradient(45deg, rgb(161,0,161), rgb(80,0,90));
}


.name{
    color: white;
    font-size: x-large;
    letter-spacing: 0.09rem;
    margin-left: 15px;
    text-align: left;
}

.chatsandpersons{
    display: flex;
    width: 95%;
    gap: 10px;
}



.persons {
    width: 40vw;
    height: 65vh;
    border-radius: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    padding-left: 10px;

}

.people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}

.foto{
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

.nameofstatus{
    color: dimgray;
    display: flex;
    padding: 0px 0px 0px 4px;

}

.wrapperchat{
    display: flex;
    justify-content: center;
    
}

.chat-container{
    border-radius: 8px;
    border: 1px solid rgb(161, 0, 161);
    overflow-y: auto;
    overflow-x: hidden;
    width: 48vw;
    height: 65vh;
    position: relative;
}



.fotochat{
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.message .content{
    padding: 8px;
    max-width: 70%;
    

}

.message {
    border-radius:1em;
    display: flex;
    padding: 10px;
    align-items: flex-end;
}

.messagesz {
    overflow-y: auto; 
    flex-grow: 1; 
    margin-bottom: 10px; 
    
    width: 100%;
    height: 100%;
}


/* Estilos para la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
.chat-container::-webkit-scrollbar {
    width: 4px; 
   
}

.chat-container::-webkit-scrollbar-track {
    background-color: transparent; 
}

.chat-container::-webkit-scrollbar-thumb {
    background: rgba(105, 105, 105, 0.392); /* Color de la barra */
    border-radius: 3em; /* Bordes redondeados */
}

/* Cambiar el color del 'thumb' al pasar el mouse */
.chat-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Color más oscuro al pasar el mouse */
}


.messagesz::-webkit-scrollbar {
    width: 0px; 
   
}

.messagesz::-webkit-scrollbar-track {
    background-color: transparent; 
}

.messagesz::-webkit-scrollbar-thumb {
    background: transparent; /* Color de la barra */
    border-radius: 3em; /* Bordes redondeados */
}

/* Cambiar el color del 'thumb' al pasar el mouse */
.messagesz::-webkit-scrollbar-thumb:hover {
    background:transparent; /* Color más oscuro al pasar el mouse */
}

.leftchat{
   gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.rightchat{

    justify-content: flex-end;
}

.infochat{
    display: flex;
    gap: 10px;
    color: dimgray;
    font-size: small;
    justify-content: flex-end;
}

.text, .textrest{
    background-color: aliceblue;
    border-radius: 1em;
    padding: 8px;
    position: relative;
}

.text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: aliceblue;
    border-left: 0;
    margin: 0px;
    transform: rotate(340deg);

}

.textrest{
    background-color: rgb(90,0,90);
    border-radius: 1em;
    padding: 8px;
    color: white;
    position: relative;
}
.namechat{
    color: white;
}

.time{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px ;
    color: dimgray;
}

.textrest::before {
    
        content: '';
        position: absolute;
        bottom: -2px;
        right: -4px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: rgb(90,0,90);
        border-left: 0;
        margin: 0px;
        transform: rotate(210deg);

}

.typear{
    display: flex;
    background: black;
    border-radius: 1em;
    position: sticky;
    width: 90%;
    height: 10%;
    align-items: center;
    bottom: 3%;
    margin: 0px 0px 12px 14px;
    padding: 0px 16px 0px 16px;
    justify-content: space-between;
    z-index: 1;
}

.typear input{
    outline: none;
    background-color: transparent;
    border: none;
    width: 70%;
    color: white;
    font: inherit;
}

.typear input::placeholder{
    font: inherit;
}

.send{
    border-radius: 50%;
    color: white;
    background-color: black;
    border: none;
    width:3vw;
    height: 5vh;
    text-align: center;
}

.plus{
    border: none;
    color: white;
    font: bold;
    width: 3vw;
    height: 5vh;
    text-align: center;
    background-color: #1b1b1b;
    font-size: larger;
    background-color: transparent;
}

.typear div{

    display: flex;
    align-items: center;
    position: relative;
 

}

.plus {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    list-style: none;
    display: none;
    flex-direction: column-reverse; /* Para desplegar hacia arriba */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    bottom: 100%; /* Asegura que el desplegable suba */
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: flex; /* Muestra el dropdown cuando la clase 'show' está presente */
}


.persons::-webkit-scrollbar {
    width: 4px; 
   
}

.persons::-webkit-scrollbar-track {
    background-color: transparent; 
}

.persons::-webkit-scrollbar-thumb {
    background: rgba(105, 105, 105, 0.392); /* Color de la barra */
    border-radius: 3em; /* Bordes redondeados */
}

/* Cambiar el color del 'thumb' al pasar el mouse */
.persons::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Color más oscuro al pasar el mouse */
}

.people:hover{background-color: #303030;
border-radius: 1em;}

.mora{
    color: rgb(161, 0, 161);
}

.nameofcard{
    display: flex;
    gap: 5px;
}


@media (max-width:1050px) {
    .foto{
        display: none;
    }

    .new{
        font-size: x-small;
    }
    
}